<o-wrapper>
    <o-body-style background-color-prop="#CADFBB" color-var="var(--color-secondary">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Produits</h2>
        <p>Dans les magasins nature& de Balexert et Plainpalais, nous vous proposons un assortiment complet, jusqu'à 6’000 références bio et plus de 600 marques bio spécialistes telles que Alnatura, Bonneterre, et Pain des Fleurs. Grâce à un grand choix alimentaire, non-alimentaire, vrac et des produits pour régimes spécifiques (sans gluten, végane), nous couvrons tous vos besoins.</p>
    </o-body-style>
</o-wrapper>