<o-wrapper namespace="nature-">
    <o-body-style only-render-attribute-to-css background-color-prop="#CADFBB" color-var="var(--color-secondary);">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Produits</h2>
        <p>Dans les magasins nature& de Balexert et Plainpalais, nous vous proposons un assortiment complet, jusqu'à 6’000 références bio et plus de 600 marques bio spécialistes telles que Alnatura, Bonneterre, et Pain des Fleurs. Grâce à un grand choix alimentaire, non-alimentaire, vrac et des produits pour régimes spécifiques (sans gluten, végane), nous couvrons tous vos besoins.</p>
    </o-body-style>
    <o-body-style class="first-mobile" only-render-attribute-to-css background-prop="url('../../../../img/bown_pattern.svg');" background-color-prop="#94BD75" background-position-y-prop="150%">
        <a-picture defaultSource="../../../../../src/img/Magasin nature pain bio.PNG"></a-picture>
    </o-body-style>
</o-wrapper>
<a-emotion-pictures namespace="emotion-default-">
    <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png" alt="randomized image"></a-picture></a>
</a-emotion-pictures>
<o-wrapper namespace="nature-" overlay-mobile>
    <o-body-style width="30%" only-render-attribute-to-css nature-padding-var="0" nature-padding-mobile-mobile-var="0" img-height-var="100%" img-object-fit-var="cover">
        <a-picture defaultSource="../../../../../src/img/non conseils pattern.svg"></a-picture>
    </o-body-style>
    <o-body-style only-render-attribute-to-css background-color-prop="#003B4C" color-prop="var(--background-color);" h-color-var="var(--background-color);">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Nos conseils</h2>
        <p style="text-transform: capitalize;">LA NATUROPATHIE</p>
        <p>Pour améliorer votre mode de vie en général, pour soutenir un traitement médical ou vous accompagner sur une problématique particulière, retrouvez nos naturopathes dans les magasins nature&. Elles répondent volontiers à vos questions et vous conseillent.</p>
    </o-body-style>
</o-wrapper>