<o-wrapper namespace="nature-wrapper-">
    <o-body-style only-render-attribute-to-css background-color-prop="#CADFBB" color-var="var(--color-secondary);">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Produits</h2>
        <p>Dans les magasins nature& de Balexert et Plainpalais, nous vous proposons un assortiment complet, jusqu'à 6’000 références bio et plus de 600 marques bio spécialistes telles que Alnatura, Bonneterre, et Pain des Fleurs. Grâce à un grand choix alimentaire, non-alimentaire, vrac et des produits pour régimes spécifiques (sans gluten, végane), nous couvrons tous vos besoins.</p>
    </o-body-style>
    <o-body-style class="first-mobile" only-render-attribute-to-css background-prop="url('../../../../img/bown_pattern.svg')" background-color-prop="#94BD75" background-position-y-prop="bottom">
        <a-picture defaultSource="../../../../../src/img/Magasin nature pain bio.PNG"></a-picture>
    </o-body-style>
</o-wrapper>
<h2>below only mobile pattern without overflow</h2>
<o-body-style only-render-attribute-to-css position-prop="relative" emotion-default-width-var="100%" background-prop-before-mobile="url('../../../../img/bown_pattern.svg')" background-position-y-prop-before-mobile="top">
    <a-emotion-pictures namespace="emotion-default-">
        <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png" alt="randomized image"></a-picture></a>
    </a-emotion-pictures>
</o-body-style>
<h2>below only mobile pattern</h2>
<o-body-style only-render-attribute-to-css emotion-default-width-var="100%" background-prop-before-mobile="url('../../../../img/bown_pattern.svg')" background-position-y-prop-before-mobile="top">
    <a-emotion-pictures namespace="emotion-default-">
        <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png" alt="randomized image"></a-picture></a>
    </a-emotion-pictures>
</o-body-style>
<h2>below pattern</h2>
<o-body-style only-render-attribute-to-css emotion-default-width-var="100%" background-prop-before="url('../../../../img/bown_pattern.svg')" background-position-y-prop-before="top">
    <a-emotion-pictures namespace="emotion-default-">
        <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png" alt="randomized image"></a-picture></a>
    </a-emotion-pictures>
</o-body-style>
<o-wrapper namespace="nature-wrapper-" overlay-mobile>
    <o-body-style width="30%" only-render-attribute-to-css nature-wrapper-padding-var="0" nature-wrapper-padding-mobile-mobile-var="0" img-height-var="100%" img-object-fit-var="cover">
        <a-picture defaultSource="../../../../../src/img/non conseils pattern.svg"></a-picture>
    </o-body-style>
    <o-body-style only-render-attribute-to-css background-color-prop="#003B4C" color-prop="var(--background-color);" h-color-var="var(--background-color);">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Nos conseils</h2>
        <h3>LA NATUROPATHIE</h3>
        <p>nature& vous propose des pains de très haute qualité. Ce sont des pains bio au levain naturel, cuits dans un véritable
        four à bois traditionnel. Ils sont ainsi façonnés et lamés à la main par nos artisans boulangers genevois. Ces pains
        bénéficient d’une fermentation douce et longue (48h) qui est essentielle pour la qualité gustative et digestive. Tous
        les pains nature& sont fabriqués à partir d’ingrédients de qualité, dans le respect des approvisionnements locaux et
        avec un soin tout particulier accordé aux choix des farines. Les farines GRTA proviennent du Moulin de La Pallanterie
        dont les blés sont essentiellement en provenance du terroir genevois. Tous les blés sont moulus par écrasement avec une
        véritable meule de pierre à l’ancienne. La dizaine de pains que nous vous proposons régaleront ainsi les papilles des
        connaisseurs et des plus gourmands !</p>
    </o-body-style>
</o-wrapper>