<o-body-style only-render-attribute-to-css emotion-default-width-var="100%">
    <a-emotion-pictures namespace="emotion-default-">
        <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png"
                alt="randomized image"></a-picture></a>
    </a-emotion-pictures>
</o-body-style>
<o-wrapper namespace="nature-wrapper-">
    <o-body-style only-render-attribute-to-css background-color-prop="#CADFBB" color-var="var(--color-secondary);">
        <div class="spacer-half"></div>
        <h2 class="font-size-h1">Produits</h2>
        <p>Dans les magasins nature& de Balexert et Plainpalais, nous vous proposons un assortiment complet, jusqu'à 6’000 références bio et plus de 600 marques bio spécialistes telles que Alnatura, Bonneterre, et Pain des Fleurs. Grâce à un grand choix alimentaire, non-alimentaire, vrac et des produits pour régimes spécifiques (sans gluten, végane), nous couvrons tous vos besoins.</p>
    </o-body-style>
    <o-body-style class="first-mobile" only-render-attribute-to-css background-prop="url('../../../../img/bown_pattern.svg')" background-color-prop="#94BD75" background-position-y-prop="bottom">
        <a-picture defaultSource="../../../../../src/img/Magasin nature pain bio.PNG"></a-picture>
    </o-body-style>
</o-wrapper>