<o-body-style only-render-attribute-to-css emotion-default-width-var="100%">
    <a-emotion-pictures namespace="emotion-default-">
        <a href="#"><a-picture picture-load defaultSource="../../../../img/nature_entree_magasin_.png" alt="randomized image"></a-picture></a>
    </a-emotion-pictures>
</o-body-style>
<o-grid namespace="grid-2colums2rows-" first-container-vertical first-column-with="30%">
    <section>
        <div style="background-color: #D48A42; color: var(--background-color);">
            <ul>
                <li>icon + text</li>
                <li>icon + text</li>
            </ul>
            <h3>LISTE D’INGRÉDIENTS:</h3>
            <b>Titel</b>
            <ul>
                <li>200 g de farine</li>
                <li>200 g de farine</li>
                <li>200 g de farine</li>
                <li>200 g de farine</li>
                <li>200 g de farine</li>
            </ul>
            <b>Titel</b>
            <ul>
                <li>200 g de farine</li>
                <li>200 g de farine</li>
                <li>200 g de farine</li>
                <li>200 g de farine</li>
                <li>200 g de farine</li>
            </ul>
        </div>
        <div style="background-color: #EEE2D5; color: var(--color-tertiary);">
            <h2 class="font-size-h1">Wellington champignons</h2>
            <h3>Titel</h3>
            <ol>
                <li>Dans un bol, mélangez tous les ingrédients de la croûte. Pétrissez jusqu’à ce qu’une pâte lisse se
                    forme. Aplatissez
                    ensuite la pâte en un disque épais, couvrez-la et réfrigérez-la pendant 20 min.
                </li>
                <li>
                    t que vous étalez la croûte. Préchauffez le four à 200°C. Commencez par étaler uniformément la pâte
                    sur une surface
                    farinée. Placez la farce au milieu et modelez-la en forme de bûche aux côtés arrondis. Une fois la
                    farc
                    e en place, faites une série d’incisions d’environ 2 cm dans la pâte des deux côtés de la farce, en
                    légère diagonale.
                    Repliez les deux rabats, en haut et en bas, comme si vous emballiez un cadeau, puis tressez les
                    bandes de pâte sur le
                    dessus de la farce, en alternant les côtés. Enfournez pendant
                    min ou jusqu’à ce que la croûte soit bien dorée. Brossez le Wellington avec un mélange égal d’huile
                    d’olive et de sirop
                    d’érable pour un rendu brillant. Coupez la partie haute des têtes d’ail en y ajoutant un filet
                    d’huile d’olive et les
                    enveloppez dans du papier aluminium. Mettez-les au four penda
                    nt 40 minutes.
                </li>
                <li>
                    Coupez les oignons en lamelles ou en brunoise, puis faites-les revenir dans une poêle avec de
                    l’huile
                    d’olive. Ajoutez le sirop d’érable, le bâton de cannelle et
                    l’anis étoilé. Couvrez la poêle avec son couvercle et laissez doucement caraméliser les oignons.
                    Salez avec environ 2
                    grosses pincées de sel. Pressez le jus de manda
                </li>
            </ol>
        </div>
    </section>
</o-grid>